/* Обнуление */
body {
   margin: 0 0;
   font-family: 'Inter', sans-serif;
}
a {
   text-decoration: none;
}
p {
   margin: 0 0;
}

/* Обнуление END */

/* header start */

.header {
   width: 1920px;
   margin: 0 auto;
   box-shadow: 0px 6px 8px 0px rgba(68, 68, 68, 0.402);
}
.container {
   width: 1516px;
   margin: 0 auto;
}
.header__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 115px;
}
.header__block {
}
.header__logo { /*TODO: сделать линейный градиент*/
   font-size: 24px;
   font-weight: bold;
   text-transform: uppercase; /*Все символы текста становятся прописными (верхний регистр)*/
   cursor: pointer; /* TODO: сделать чтобы страница переобновляла себя при нажатие */
   background: linear-gradient(180deg, #14125F 43.75%, rgba(30, 28, 117, 0.21) 79.17%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent; /* FIXME: распространяться только на браузеры –webkit */
   -webkit-text-stroke-width: 0.9px;
   -webkit-text-stroke-color: #000000;
   user-select: none; /* Пользователю запрещено выделять элемент "текст". */
}
.nav {
   user-select: none; /* Пользователю запрещено выделять элемент "текст". */
}
.nav__link {
   margin-right: 52px;
   font-size: 16px;
   font-weight: 500;
   text-transform: uppercase; /*Все символы текста становятся прописными (верхний регистр)*/
   color: #1B1B20;
}
.nav__link:last-child {
   margin-right: 0;
}

.header__button {
   height: 51px;
   width: 219px;
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   letter-spacing: 0.1em;
   background: linear-gradient(180deg, rgba(65, 12, 182, 0.8) 0%, rgba(162, 37, 204, 0.8) 100%);
   box-shadow: 0 4px 5px 0px rgb(156, 156, 156, 0.70), 0 0 20px rgba(160, 64, 255, 0.80);
}

.header__button__link {
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase; /*Все символы текста становятся прописными (верхний регистр)*/
   color: #FFFFFF;
   user-select: none; /* Пользователю запрещено выделять элемент "текст". */
}

/* header end */